
.formControl.error input {
    border: 2px red solid;
}

.formControl span {
    color: brown;
}

.formSummaryError {
    width: 200px;
    border: 2px solid red;
    padding: 7px;

}
.loginForm {
    margin: 50px;
    justify-content: center;
}