.header {
    /* grid-area: h; */
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: bisque;
    /* flex-direction: row; */
    align-items: center;
}
.header img {
    width: 50px;
    margin: 10px;
}
.loginBlock {
    /* width: 200px; */
    text-align: center;
    margin: 20px;
    display: inline;
}
.loginBlock a {
    text-decoration: none;
    color: var(--text);
}