.nav {
    height: 100%;
    background-color: var(--secondary);
    padding: 10px;
}
.item {
    padding: 10px 5px;

}
.item a{
    color: var(--text);
    text-decoration: none;
    transition: all .5s ease;
}

.item a.active {
    border-radius: 15px;
    padding: 5px 10px;
    background: #fff;
    color: black;
}