.profileInfo {
 
}

.profileInfo img {
    padding: 0;
    width: 100%;   
}

.profileInfo h2 {
    padding: 0 10px;
}
.imgWidth {
    max-width: 200px;
}
.contact {
    margin-left: 20px;
}

.formSummaryError{
    padding: 10px;
    border: brown 2px solid;
}