.item {
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
}
.title {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
.title p {
    margin: 10px;
    margin-left: 20px;
    
}

.item img {
    width: 45px;
    height: 45px;
    overflow: hidden;
    border-radius: 50%;
}