.dialogs {
    width: 100%;

}

.message {
    text-align: end;
    padding: 15px;
    margin-bottom: 10px;
    border:  2px solid var(--secondary);
    border-radius: 30px
}

.dialog {
    
    margin: 10px;
    text-align: center;
}

.dialog a {
    cursor: pointer;
    text-decoration: none;
    color: var(--text)
}
 
.dialog .activeLink {
    padding: 5px 10px;
    border-radius: 10px;
    background: var(--secondary);
}
.messageForm form {
    text-align: center;
}
.messageForm form button {
    margin: 10px;
}